@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto, Lato, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 150px 20px 1fr;
}

header {
    height: 100%;
    width: 100%;
    background-color: rgb(34, 141, 34);
    color: white;
    margin: 0;
    padding: 1px 20px 0px 20px;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 40px;
    width: 120px;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    background-color: greenyellow;
}

.input-container {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
}

.input-container input{
    margin-top: 5px;
    margin-bottom: 5px;
}

#board-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    margin-top: 50px;
}

.board-cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}

.board-cell:hover {
    cursor: pointer;
}

.board-cell.x {
    background-image: url("./images/X.png");
}

.board-cell.o {
    background-image: url("./images/O.png");
}

#game-status-output {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: 600;
}